<div class="section-header">
  <h2 class="h1 section-header__title section-header__left">{{ settings.home_feature_title }}</h2>
  <hr class="hr--small">
</div>
<div class="main_Product_grid first_product_disposition" id="container">

    {% for product in collections[settings.home_products].products %}
  
  {% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
  
	{% assign var_count = forloop.index %}
    <div class="item large--one-quarter">
      
      
        {% if settings.sale_button_option == "sale_button_option_one" %}
    
       {% assign sale_box_opt = "sale_wheel" %}
    
      {% elsif settings.sale_button_option == "sale_button_option_two" %}
        
    {% assign sale_box_opt = "sale_wheel-two" %}
    
      {% elsif settings.sale_button_option == "sale_button_option_three" %}

    {% assign sale_box_opt = "sale_wheel-three" %}
   
        {% elsif settings.sale_button_option == "sale_button_option_four" %}

    {% assign sale_box_opt = "sale_wheel-four" %}
    
    
    {% endif %} 


   
        {% if sold_out %}
            <p class=" {{ sale_box_opt  }} hidesale"> 
               <strong>{{ settings.productsoldout }}</strong>
            </p>
       {% else %}
    
          <p class=" {{ sale_box_opt  }} hidesale">  
      {% if product.price_varies %}
          <strong>{{ settings.productsale }}</strong>  
            {% else %}
        <strong>{{ settings.productsale }}</strong>
     
      {% endif %}
            </p>
        
      
      
       {% endif%}
      
     
      <div class="h_pod"  >
        <a href="{{ product.url }}">
      {% include "image_setting" %}
          
        </a>
      </div>
        <div class="home_prod_info">
          <h5 class="nav-bar desktop_nav title">{{ product.title }}</h5>
          <h5 class="nav-bar mobile_nav title">
            {% if settings.on_mobile_title_set == "on_mobile_title_set_line_one" %}
            {% assign setHlimit=settings.home_page_text_limit %}
            {{ product.title | truncate:setHlimit }}
            {% else %}
             {{ product.title }}
            {% endif %}
           
          </h5>        
          
    {% include 'product_price_setting' %}    
        </div>
      
    </div>
	{% if var_count == 4 or var_count == 8 or var_count == 12 or var_count == 16 or var_count == 20 or var_count == 24  %}
    <div class="clear_both"></div>
    {% endif %}

    {% endfor %}
  
</div>